
<div class="player-table-container">
	<h2 class="player-table-header">Starting Lineup:</h2>
	<table class="table player-table">
		<thead>
			<tr>
				<th class="dark-row" scope="col"></th>
				<th class="dark-row" scope="col">Name:</th>
				<th class="dark-row" scope="col">Team:</th>
			</tr>
		</thead>
		<tbody>
			<tr class="position-title-row">
				<td class="no-border"><span class="badge pos-badge badge-QB">Quarterbacks:</span> ({{user.team.roster.startingLineup.qb.players.length}}/{{user.team.roster.startingLineup.qb.max}})</td>
			</tr>
			<tr class="lineup-row" *ngFor="let player of user.team.roster.startingLineup.qb.players">
				<td><button type="button" class="btn edit-player-button" (click)="movePlayerToBench(player)">
							<fa-icon [icon]="faReply" size="xs" flip="horizontal"></fa-icon>
						</button></td>
				<td>{{player.playerName}}</td>
				<td>{{player.teamName}}</td>
			</tr>
		</tbody>
		<tbody>
			<tr class="position-title-row">
				<td class="no-border"><span class="badge pos-badge badge-RB">Runningbacks:</span> ({{user.team.roster.startingLineup.rb.players.length}}/{{user.team.roster.startingLineup.rb.max}})</td>
			</tr>
			<tr class="lineup-row" *ngFor="let player of user.team.roster.startingLineup.rb.players">
				<td><button type="button" class="btn edit-player-button" (click)="movePlayerToBench(player)">
							<fa-icon [icon]="faReply" size="xs" flip="horizontal"></fa-icon>
						</button></td>
				<td>{{player.playerName}}</td>
				<td>{{player.teamName}}</td>
			</tr>
		</tbody>
		<tbody>
			<tr class="position-title-row">
				<td class="no-border"><span class="badge pos-badge badge-WR">Wide Receivers:</span> ({{user.team.roster.startingLineup.wr.players.length}}/{{user.team.roster.startingLineup.wr.max}})</td>
			</tr>
			<tr class="lineup-row" *ngFor="let player of user.team.roster.startingLineup.wr.players">
				<td><button type="button" class="btn edit-player-button" (click)="movePlayerToBench(player)">
							<fa-icon [icon]="faReply" size="xs" flip="horizontal"></fa-icon>
						</button></td>
				<td>{{player.playerName}}</td>
				<td>{{player.teamName}}</td>
			</tr>
		</tbody>
		<tbody>
			<tr class="position-title-row">
				<td class="no-border"><span class="badge pos-badge badge-TE">Tight Ends:</span> ({{user.team.roster.startingLineup.te.players.length}}/{{user.team.roster.startingLineup.te.max}})</td>
			</tr>
			<tr class="lineup-row" *ngFor="let player of user.team.roster.startingLineup.te.players">
				<td><button type="button" class="btn edit-player-button" (click)="movePlayerToBench(player)">
							<fa-icon [icon]="faReply" size="xs" flip="horizontal"></fa-icon>
						</button></td>
				<td>{{player.playerName}}</td>
				<td>{{player.teamName}}</td>
			</tr>
		</tbody>
		<tbody>
			<tr class="position-title-row">
				<td class="no-border"><span class="badge pos-badge badge-FLEX">Flex:</span> ({{user.team.roster.startingLineup.flex.players.length}}/{{user.team.roster.startingLineup.flex.max}})</td>
			</tr>
			<tr class="lineup-row" *ngFor="let player of user.team.roster.startingLineup.flex.players">
				<td><button type="button" class="btn edit-player-button" (click)="movePlayerToBench(player)">
							<fa-icon [icon]="faReply" size="xs" flip="horizontal"></fa-icon>
						</button></td>
				<td>{{player.playerName}}</td>
				<td>{{player.teamName}}</td>
			</tr>
		</tbody>
		<tbody>
			<tr class="position-title-row">
				<td class="no-border"><span class="badge pos-badge badge-K">Kickers:</span> ({{user.team.roster.startingLineup.k.players.length}}/{{user.team.roster.startingLineup.k.max}})</td>
			</tr>
			<tr class="lineup-row" *ngFor="let player of user.team.roster.startingLineup.k.players">
				<td><button type="button" class="btn edit-player-button" (click)="movePlayerToBench(player)">
							<fa-icon [icon]="faReply" size="xs" flip="horizontal"></fa-icon>
						</button></td>
				<td>{{player.playerName}}</td>
				<td>{{player.teamName}}</td>
			</tr>
		</tbody>
	</table>
</div>
