@import "~bootstrap/dist/css/bootstrap.css";

html, body {
    height: 100% !important;
}

/* You can add global styles to this file, and also import other style files */

.pos-badge {
	font-size: 1.1em;
}

.badge-QB {
	background-color: #c46f71;
	color: white;
}

.badge-RB {
	background-color: #5692eb;
	color: white;
}

.badge-WR {
	background-color: #57b559;
	color: white;
}

.badge-TE {
	background-color: #f89406;
	color: white;
}

.badge-FLEX {
	background-color: #63a09d;
	color: white;
}

.badge-K {
	background-color: #7a558a;
	color: white;
}

.badge-DST {
	background-color: #1c4f47;
	color: white;
}

.badge-DROP {
	background-color: #951a1a;
	font-style: italic;
	color: white;
}

.badge-WHITE {
	background-color: #ffffff;
	color: #000000 !important;
}

.badge-player-position {
	padding-left: 15px !important;
	padding-right: 15px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.coin-icon {
	color: #e2d638;
}

.dark-grey {
	background-color: #494949;
}
