.input-panel-centered {
	width: 50%;
	text-align: left;
	margin: auto;
	margin-top: 5%;
	vertical-align: middle;
	height: auto;
}

.cenetered-panel-wrapper {
	text-align: center;
	height: auto;
	
}

.form-label {
	text-align: left;
}

.form-title {
	text-align: center;
	font-size: 4em;
}