
<ng-template #popContent> 


	<ul class="list-group swap-options">
	
		<li class="list-group-item swap-button-group" *ngFor="let p of this.swappables">
				<button type="button" class="btn swap-button" (click)="swapStarterAndBenchPlayer(player, p)">
					<div class="row">
						<div class="col-2 centered"><span class="badge-{{p.position}} badge edit-lineup-pos-badge">{{p.position}}</span></div>
						<div class="col-10 centered"><span class="edit-lineup-name-text">{{p.playerName}}</span></div>
					</div>
				</button>
		</li>
		
		</ul>
	
		<ul class="list-group swap-options">
		
		
		
		
		<li class="list-group-item swap-button-group">
			<div class="row no-side-margin">
				<div class="col centered action-button-spacing">
					<button type="button" class="btn swap-pos-button badge-{{player.position}}" (click)="movePlayerToLineupAtPosition(player)">{{player.position}} Slot</button>
				</div>
				<div *ngIf='this.canBeFlex' class="col centered action-button-spacing">
					<button type="button" class="btn swap-pos-button badge-FLEX" (click)="movePlayerToLineupAtFlex(player)">Flex Slot</button>
				</div>
			</div>
		</li>
		
		<li class="list-group-item swap-button-group">
			<div class="row no-side-margin">
				<div class="col centered action-button-spacing">
					<button type="button" class="btn swap-pos-button badge-DROP" (click)="dropPlayer(player)">Drop Player</button>
				</div>
			</div>
		</li>

		
	</ul>

</ng-template>


<button type="button" class="btn edit-player-button" [ngbPopover]="popContent" popoverTitle="Replace or Move Player" [placement]="'left'">
	<fa-icon [icon]="faExchangeAlt" size="xs"></fa-icon>
</button>

