@import url("../waiver-wire-page.component.scss");

.check-icon {
	color: #207726;
}

.x-icon {
	color: #9e181c;
}

.search-icon {
}

.small-margins {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.player-count-badge {
	background-color: #757575;
	color: white;
}

.add-player-button {
	color: #207726;
	background: rgba(76, 175, 80, 0);
}

.position-checkboxes > li {
	border: none;
}

.waiver-buttons-container {
	overflow-y: auto;
}