
<div class="row">
	<div class="col-lg-2">
		<div class="waiver-buttons-container">
			<h1>Show/Hide:</h1>
			<mdb-checkbox (change)="toggleAvailable()" [checked]="true">Available</mdb-checkbox>
			<mdb-checkbox (change)="toggleUnavailable()" [checked]="true">Unavailable</mdb-checkbox>
		</div>
	</div>
	<div class="col-lg">
		<div class="waiver-players-container">
			<div class="row">
				<div class="col">
					<div class="md-form small-margins">
						<input type="search" [(ngModel)]="searchText" id="search" class="form-control" mdbInputDirective [mdbValidate]="false">
						<label for="search"> <fa-icon class="search-icon" [icon]="faSearch" size="xl"></fa-icon> Filter Players</label>
					</div>
				</div>
			</div>
			<table class="table table-striped  player-table" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th class="dark-row" scope="col"></th>
						<th class="dark-row" scope="col">Position <mdb-icon icon="sort" (click)="sortBy('position')"></mdb-icon></th>
						<th class="dark-row" scope="col">Name <mdb-icon icon="sort" (click)="sortBy('playerName')"></mdb-icon></th>
						<th class="dark-row" scope="col">Team <mdb-icon icon="sort" (click)="sortBy('teamName')"></mdb-icon></th>
						<th class="dark-row" scope="col">Available <mdb-icon icon="sort" (click)="sortBy('onUserTeam')"></mdb-icon></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let player of search()">
						<td><a href="/players">
								<button type="button" class="btn btn-default" (click)="addPlayerToBench(player)">
									<fa-icon [icon]="faUserPlus" size="sm"></fa-icon>
								</button>
						</a></td>
						<td><span class="badge badge-player-position badge-{{player.position}}">{{player.position}}</span></td>
						<td>{{player.playerName}}</td>
						<td>{{player.teamName}}</td>
						<td *ngIf="player.onUserTeam"><fa-icon class="check-icon" [icon]="faCheck"></fa-icon></td>
						<td *ngIf="!player.onUserTeam"><fa-icon class="x-icon" [icon]="faTimesCircle"></fa-icon></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

