<div>



	<div class="row justify-content-center modifier-container">
	
		<div class="col-lg-2 side-bar-nav">
				<div class="waiver-buttons-container">
					<h3>Availability:</h3>
					<ul class="list-group position-checkboxes">
						<li class="list-group-item transparent-bg"><mdb-checkbox (change)="toggleAvailable()" [checked]="true">Available</mdb-checkbox></li>
						<li class="list-group-item transparent-bg"><mdb-checkbox (change)="toggleUnavailable()" [checked]="false">Unavailable</mdb-checkbox></li>
					</ul>
					
					<div class="spacer-panel"></div>
					
					<h3>Position:</h3>
					<ul class="list-group position-checkboxes">
					  <li class="list-group-item transparent-bg"><mdb-checkbox (change)="toggleShowALL()" [checked]="showAll"><span class="badge badge-player-position badge-WHITE">ALL</span></mdb-checkbox></li>
					  <li class="list-group-item transparent-bg"><mdb-checkbox (change)="toggleShowQB()" [checked]="showQb"><span class="badge badge-player-position badge-QB">QB</span></mdb-checkbox></li>
					  <li class="list-group-item transparent-bg"><mdb-checkbox (change)="toggleShowRB()" [checked]="showRb"><span class="badge badge-player-position badge-RB">RB</span></mdb-checkbox></li>
					  <li class="list-group-item transparent-bg"><mdb-checkbox (change)="toggleShowWR()" [checked]="showWr"><span class="badge badge-player-position badge-WR">WR</span></mdb-checkbox></li>
					  <li class="list-group-item transparent-bg"><mdb-checkbox (change)="toggleShowTE()" [checked]="showTe"><span class="badge badge-player-position badge-TE">TE</span></mdb-checkbox></li>
					  <li class="list-group-item transparent-bg"><mdb-checkbox (change)="toggleShowFLEX()" [checked]="showFlex"><span class="badge badge-player-position badge-FLEX">FLEX</span></mdb-checkbox></li>
					  <li class="list-group-item transparent-bg"><mdb-checkbox (change)="toggleShowK()" [checked]="showK"><span class="badge badge-player-position badge-K">K</span></mdb-checkbox></li>
					  <!-- <li class="list-group-item"><mdb-checkbox (change)="toggleShowPosition(DST)" [checked]="true"><span class="badge badge-player-position badge-DST">DST</span></mdb-checkbox></li> -->
					</ul>
						
				</div>
			</div>
			
			<div *ngFor="let modifier of getFilteredModifiers()" >
				<div class="col-lg-2">
					<div *ngIf="(modifier.owningUserId != null) && (modifier.owningUserId !== user.userId)" class="owner-text">Purchased by {{modifier.owningUserId}}</div>
					<div *ngIf="(modifier.owningUserId != null) && (modifier.owningUserId === user.userId)" class="owner-text">Purchased by You</div>
					<mdb-card class="testimonial-card modifier-card disabled-status-{{modifier.owningUserId != null}}" data-toggle="modal" data-target="#basicExample" (click)="frame.show();">
						<div *ngIf="modifier.changePercentage <= 0" class="card-up adjusted-card-colored colored-red"></div>
						<div *ngIf="modifier.changePercentage > 0" class="card-up adjusted-card-colored colored-green"></div>
						<div class="mx-auto adjusted-icon">
							<fa-icon *ngIf="modifier.changePercentage <= 0" class="minus-circle-icon" size="5x" [icon]="faArrowAltCircleDown"></fa-icon>
							<fa-icon *ngIf="modifier.changePercentage > 0" class="plus-circle-icon" size="5x" [icon]="faArrowAltCircleUp"></fa-icon>
						</div>
						<mdb-card-body class="modifier-card-body"> 
							<mdb-card-title>
								<div class="modifier-name align-items-center align-center">
									<div class="col small-margins">
										<h4>{{modifier.modifierName}}</h4>
									</div>
								</div>
							</mdb-card-title>
							<hr class="modifier-card-line-divider">
							<div class="row modifier-details-row">
								<div class="col-sm-6 modifier-details-container">
									<div class="badge modifier-details modifier-details-badge">
										<fa-icon class="coin-icon" [icon]="faCoins"></fa-icon> <span class="coin-text">{{modifier.price}}</span>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="badge modifier-details modifier-details-badge modifier-details-percentage-badge">
										<span *ngIf="modifier.changePercentage <= 0" class="percent-text-red">{{modifier.changePercentage}}</span>
										<span *ngIf="modifier.changePercentage > 0" class="percent-text-green">{{modifier.changePercentage}}</span> 
										<fa-icon class="percent-icon" [icon]="faPercent"></fa-icon>
									</div>
								</div>
							</div>
						</mdb-card-body> 
					</mdb-card>
				</div>
				
				<div  mdbModal #frame="mdbModal" class="modal fade top" id="modal_{{modifier.modifierId}}" tabindex="-1" role="dialog">
					<div class="modifier-modal" role="document">
						<div class="modal-content text-center modifier-modal-panel">
							<div class="modal-header d-flex justify-content-center">
								<p class="heading modifier-modal-header">{{modifier.modifierName}}</p>
							</div>
							
							<div class="modal-body modifier-modal-body">
								<div class="row modal-row">
									<div class="col-8 modifier-modal-description">
										{{modifier.modifierDescription}}
									</div>
									<div class="col-4 modifier-modal-description coin-description">
										<fa-icon class="coin-icon" [icon]="faCoins"></fa-icon>{{modifier.price}}
									</div>
								</div>
								<div class="row modal-row">
									<div *ngIf="modifier.owningUserId == null" class="col modifier-modal-description-question">
										Would you like to buy for <fa-icon class="coin-icon" [icon]="faCoins"></fa-icon>{{modifier.price}}?</div>
									<div *ngIf="(modifier.owningUserId != null) && (modifier.owningUserId !== user.userId)" class="col modifier-modal-description-question">Currently owned by {{modifier.owningUserId}}</div>
									<div *ngIf="(modifier.owningUserId != null) && (modifier.owningUserId === user.userId)" class="col modifier-modal-description-question">
										Would you like to sell for <fa-icon class="coin-icon" [icon]="faCoins"></fa-icon>{{modifier.price}}?</div>
								</div>
							</div>
							
							<div class="modal-footer flex-center modifier-modal-footer">
								<div *ngIf="modifier.owningUserId == null" class="col">
									<a  mdbBtn class="modifier-modal-buy-button waves-effect" mdbWavesEffect (click)="buyModifier(modifier)">Buy</a>
								</div>
								<div *ngIf="modifier.owningUserId === user.userId" class="col">
									<a  mdbBtn class="modifier-modal-sell-button waves-effect" mdbWavesEffect (click)="sellModifier(modifier)">Sell</a> 
								</div>
								<div *ngIf="(modifier.owningUserId != null) && (modifier.owningUserId !== user.userId)" class="col">
									<a mdbBtn class="modifier-modal-unavailable-button waves-effect" mdbWavesEffect>Unavailable</a> 
								</div>
								<a data-dismiss="modal" mdbBtn class="modifier-modal-close-button waves-effect" mdbWavesEffect (click)="frame.hide()">Close</a>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
	</div>
</div>
