<div class="container-fluid">
	<div class="row">
		<div class="col-lg-2">
			<div class="user-details-container">
				<h1>{{user.userName}}</h1>
				<h2>Logged in as: {{currentUser.username}}</h2>
				<div>
					<h1><fa-icon class="coin-icon" [icon]="faCoins" size=""></fa-icon>{{user.coins}}</h1>
				</div>
			</div>
		</div>
		
		
		<div class="col-lg">
			<app-lineup-edit [user]="user"></app-lineup-edit>
		</div>
		
		<div class="col-lg">
			<app-bench-edit [user]="user"></app-bench-edit>
		</div>
		
	</div>
</div>
