@import url("../modifier-marketplace-page/modifier-marketplace-page.component.scss");

.coin-icon {
	
}

tr {
	text-align: left;
}


.position-title-row {
	border-bottom: 1px solid #ddd !important;
	border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.no-border {
	border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.indented-text {
	padding-left: 5%;
}

.dark-row {
	background: #494949;
	color: white;
}

.player-table > tbody > tr {
    border-bottom: 1px solid #ddd !important;
    border-top: none !important;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    
}

.player-table > tbody > tr > td {
	padding: 3px;
}

.player-table-container {
	text-align: center;
	margin-top: 20px;
}

.player-table-header {
	margin-bottom: 10px;
}

.user-details-container {
	margin-top: 20px;
}

.table th, .table td {
    vertical-align: middle;
}

.modifier-list {
	text-align: left;
	
}

.section-title {
	text-align: center;
	font-size: 1.5rem;
	padding-bottom: 10px;
	text-decoration: underline;
}

.section-filler {
	text-align: center;
	font-size: 1.5rem;
}

.modifier-badge {
	color: black !important;
}

.user-name-text {
	text-align: center;
}

.user-details-text {
	font-size: .8em;
	color: #8c8c8c;
	text-align: center;
}

.coins-text {
	text-align: center;
}

.modifier-card-mini {
    width: 280px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 50%
}

.modifier-name-mini {
	font-size: 1rem;
	height: fit-content;
}

.modifier-card-body-mini {
	padding: 5px;
}

.modifier-name-card-mini {
	vertical-align: middle;
	height: fit-content;
}

.sm-margins {
	padding-left: 5px;
	padding-right: 5px;
}