<p>name: {{user.userName}}</p>
<p>coins: {{user.coins}}</p>

<h2>Lineup:</h2>

<div class="lineupContainer">
	<div class="row">
			<table class="table">
				<thead>
					<tr>
						<th class="indented-text dark-row" scope="col">Player Id:</th>
						<th class="dark-row" scope="col">Name:</th>
						<th class="dark-row" scope="col">Team:</th>
					</tr>
				</thead>
			<tbody>
			
				<tr class="position-title-row"><td class="no-border"><strong>Quarterbacks:</strong></td></tr>
				<tr *ngFor="let player of user.team.qb">
					<td class="indented-text">{{player.playerId}}</td>
					<td>{{player.playerName}}</td>
					<td>{{player.teamName}}</td>
				</tr>
			</tbody>
			<tbody>
				
				<tr class="position-title-row"><td class="no-border"><strong>Runningbacks:</strong></td></tr>
				<tr *ngFor="let player of user.team.rb">
					<td class="indented-text">{{player.playerId}}</td>
					<td>{{player.playerName}}</td>
					<td>{{player.teamName}}</td>
				</tr>
			</tbody>
			<tbody>
				<tr class="position-title-row"><td class="no-border"><strong>Wide Receivers:</strong></td></tr>
				<tr *ngFor="let player of user.team.wr">
					<td class="indented-text">{{player.playerId}}</td>
					<td>{{player.playerName}}</td>
					<td>{{player.teamName}}</td>
				</tr>
			</tbody>
			<tbody>
				<tr class="position-title-row"><td class="no-border"><strong>Tight Ends:</strong></td></tr>
				<tr *ngFor="let player of user.team.te">
					<td class="indented-text">{{player.playerId}}</td>
					<td>{{player.playerName}}</td>
					<td>{{player.teamName}}</td>
				</tr>
			</tbody>
			<tbody>
				<tr class="position-title-row"><td class="no-border"><strong>Kickers:</strong></td></tr>
				<tr *ngFor="let player of user.team.k">
					<td class="indented-text">{{player.playerId}}</td>
					<td>{{player.playerName}}</td>
					<td>{{player.teamName}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
