.lineupContainer {
	/* width: 50%; */
}

tr {
	text-align: left;
}

/* tbody {
	margin-left: 1000px;
	padding-left: 1000px;
} */

/* .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.4285;
    vertical-align: top;
    border-top: none;
} */

.table > tbody > tr {
    border-bottom: 1px solid #ddd !important;
    border-top: none !important;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
/*     margin-left: 1000px;
	padding-left: 1000px; */
}

.position-title-row {
	border-bottom: 1px solid #ddd !important;
	border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.no-border {
	border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.indented-text {
	padding-left: 5%;
}

.dark-row {
	background: #494949;
	color: white;
}