<div class="player-table-container">
	<h2 class="player-table-header">Bench:</h2>
	<table class="table table-striped player-table">
		<thead>
			<tr>
				<th class="dark-row" scope="col"></th>
				<th class="dark-row" scope="col">Position:</th>
				<th class="dark-row" scope="col">Name:</th>
				<th class="dark-row" scope="col">Team:</th>
				
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let player of user.team.roster.benchPlayers.players">
				<!-- <td><a href="/"><button type="button" class="btn btn-default" (click)="movePlayerToLineupAtPosition(player)"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></button></a></td> -->
				<td><app-player-edit-popover [player]="player"></app-player-edit-popover></td>
				<td><span class="badge badge-player-position badge-{{player.position}}">{{player.position}}</span></td>
				<td>{{player.playerName}}</td>
				<td>{{player.teamName}}</td>
			</tr>
		</tbody>
	</table>
</div>
