
<nav class="navbar navbar-expand-lg navbar-light dark-nav">
	<a class="navbar-brand" href="/">New Fantasy</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav">
		
			<li class="nav-item">
				<!-- <a class="nav-link" [routerLink]="['/dashboard']">Home</a> -->
				<a class="nav-link nav-spaced" href="/dashboard">Home</a>
			</li>
			
			<!-- <li class="nav-item nav-spaced dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Teams </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<span *ngFor="let user of users"> <a class="dropdown-item" href="/userPreview/{{user.userId}}">{{user.userName}}</a></span>
				</div>
			</li> -->
			
			<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fantasy Teams</a>
                <div class="dropdown-menu dropdown-primary team-dropdown" aria-labelledby="navbarDropdownMenuLink">
                    <span *ngFor="let user of users"> 
                    	<a class="dropdown-item" href="/userPreview/{{user.userId}}">{{user.userName}}</a>
                    </span>
                </div>
            </li>

			<li class="nav-item nav-spaced">
				<a class="nav-link" [routerLink]="['/players']">Players</a>
			</li>

			<li class="nav-item nav-spaced">
				<a class="nav-link" [routerLink]="['/login']">Login</a>
			</li>
			
			<li class="nav-item nav-spaced">
				<a class="nav-link" (click)="logout()">Logout</a>
			</li>
			
			<li class="nav-item nav-spaced">
				<a class="nav-link" [routerLink]="['/register']">Register</a>
			</li>
			
		</ul>
	</div>
</nav>


