

<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar dark-nav">

    <nav-brand>
        <a class="navbar-brand" href="/">New Fantasy</a>
    </nav-brand>
    
    <links>
        <ul class="navbar-nav">
        
            <li *ngIf="isLoggedIn()" class="nav-item nav-spaced">
                <a [routerLink]="['/dashboard']" class="nav-link waves-light">Home</a>
            </li>
            
            <li *ngIf="isLoggedIn()" class="nav-item nav-spaced dropdown" dropdown>
                <a dropdownToggle class="nav-link dropdown-toggle dropdown-box" >Fantasy Teams<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary team-dropdown" role="menu">
                	<a *ngFor="let user of userNames" class="team-dropdown-item" href="/userPreview/{{user.userId}}" mdbWavesEffect>{{user.userName}}</a>
                </div>
            </li>
            
            <li *ngIf="isLoggedIn()" class="nav-item nav-spaced">
                <a class="nav-link waves-light" [routerLink]="['/players']">Players</a>
            </li>
            
            <li *ngIf="isLoggedIn()" class="nav-item nav-spaced">
                <a class="nav-link waves-light" [routerLink]="['/marketplace']">Modifier Marketplace</a>
            </li>
            
            <li *ngIf="!isLoggedIn()" class="nav-item nav-spaced">
                <!-- <a class="nav-link waves-light" [routerLink]="['/login']">Login</a> -->
                <a class="nav-link waves-light" href="/login">Login</a>
            </li>
            
            <li *ngIf="isLoggedIn()" class="nav-item nav-spaced">
				<a class="nav-link waves-light" (click)="logout()" >Logout</a>
			</li>
			
			<li *ngIf="!isLoggedIn()" class="nav-item nav-spaced">
				<a class="nav-link waves-light" [routerLink]="['/register']">Register</a>
			</li>
            
        </ul>
    </links>
</nav>