 
.dark-nav {
	background-color: #494949;
	height: 50px;
}
 
.dark-nav .navbar-brand, .dark-nav .navbar-brand:focus {
    color: #fff;
    font-style: italic;
    font-size: 18pt;
}

.dark-nav .navbar-brand:hover, .dark-nav .navbar-brand:focus {
    color: #999999;
}

.dark-nav .navbar-nav > li > a, .dark-nav .navbar-nav > li > a:focus {
    color: #9ddbbd;
}

.dark-nav .navbar-nav > li > a:hover, .dark-nav .navbar-nav > li > a:focus {
    color: #fff;
}

.nav-spaced {
	padding-left: 20px;
}

.dropdown-box {
	background-color: #494949;
}

.button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: none;
}

.team-dropdown-item {
	background-color: white;
	
	display: block;
    width: 100%;
    z-index: auto;
}