
<div class="player-table-container">
	<h2 class="player-table-header">Starting Lineup:</h2>
	<table class="table player-table">
		<thead>
			<tr>
				<th class="dark-row" scope="col"></th>
				<th class="dark-row" scope="col">Name:</th>
				<th class="dark-row" scope="col">Team:</th>
			</tr>
		</thead>
		<tbody>
			<tr class="position-title-row">
				<td class="no-border"><strong>Quarterbacks:</strong></td>
			</tr>
			<tr *ngFor="let player of user.team.roster.startingLineup.qb.players">
				<td><a href="/"><button type="button" class="btn btn-default" (click)="movePlayerToBench(player)">
							<fa-icon [icon]="faReply" size="sm" flip="horizontal"></fa-icon>
						</button></a></td>
				<td>{{player.playerName}}</td>
				<td>{{player.teamName}}</td>
			</tr>
		</tbody>
		<tbody>
			<tr class="position-title-row">
				<td class="no-border"><strong>Runningbacks:</strong></td>
			</tr>
			<tr *ngFor="let player of user.team.roster.startingLineup.rb.players">
				<td><a href="/"><button type="button" class="btn btn-default" (click)="movePlayerToBench(player)">
							<fa-icon [icon]="faReply" size="sm" flip="horizontal"></fa-icon>
						</button></a></td>
				<td>{{player.playerName}}</td>
				<td>{{player.teamName}}</td>
			</tr>
		</tbody>
		<tbody>
			<tr class="position-title-row">
				<td class="no-border"><strong>Wide Receivers:</strong></td>
			</tr>
			<tr *ngFor="let player of user.team.roster.startingLineup.wr.players">
				<td><a href="/"><button type="button" class="btn btn-default" (click)="movePlayerToBench(player)">
							<fa-icon [icon]="faReply" size="sm" flip="horizontal"></fa-icon>
						</button></a></td>
				<td>{{player.playerName}}</td>
				<td>{{player.teamName}}</td>
			</tr>
		</tbody>
		<tbody>
			<tr class="position-title-row">
				<td class="no-border"><strong>Tight Ends:</strong></td>
			</tr>
			<tr *ngFor="let player of user.team.roster.startingLineup.te.players">
				<td><a href="/"><button type="button" class="btn btn-default" (click)="movePlayerToBench(player)">
							<fa-icon [icon]="faReply" size="sm" flip="horizontal"></fa-icon>
						</button></a></td>
				<td>{{player.playerName}}</td>
				<td>{{player.teamName}}</td>
			</tr>
		</tbody>
		<tbody>
			<tr class="position-title-row">
				<td class="no-border"><strong>Flex:</strong></td>
			</tr>
			<tr *ngFor="let player of user.team.roster.startingLineup.flex.players">
				<td><a href="/"><button type="button" class="btn btn-default" (click)="movePlayerToBench(player)">
							<fa-icon [icon]="faReply" size="sm" flip="horizontal"></fa-icon>
						</button></a></td>
				<td>{{player.playerName}}</td>
				<td>{{player.teamName}}</td>
			</tr>
		</tbody>
		<tbody>
			<tr class="position-title-row">
				<td class="no-border"><strong>Kickers:</strong></td>
			</tr>
			<tr *ngFor="let player of user.team.roster.startingLineup.k.players">
				<td><a href="/"><button type="button" class="btn btn-default" (click)="movePlayerToBench(player)">
							<fa-icon [icon]="faReply" size="sm" flip="horizontal"></fa-icon>
						</button></a></td>
				<td>{{player.playerName}}</td>
				<td>{{player.teamName}}</td>
			</tr>
		</tbody>
	</table>
</div>
